*, *::before, *::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
body {
font-family: "Spectral SC", serif;
    
}

nav {
    display: inline-block; /* allows padding/margin to be applied */
  padding: 0.8rem 1.2rem;
  color: #fff;
  border: 2px solid #000000;
  background-color: rgb(255, 85, 0);
  border-radius: 8px;
  transition: background-color 0.5s, color 0.5s; /* smooth hover transitions */

  position:relative;
	left:600px;
    bottom:-250px;
	width:200px;
	height:200px;
}

fieldset {

    border: 0px solid #4CAF50;

    padding: 10px;

    margin: 20px;

 span {
  color: red; /* Colors every character inside a <span> within a <p> */
}
;

}

p {

    font-size: 10px;

    color: red;

}